@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --color-zinc-400: #a1a1aa;
  --color-zinc-100: #f4f4f5;
  --font-sans: "Space Mono", monospace;
}

@layer utilities {
  .liquid-glass {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.05);
  }
}

body {
  background-color: white;
  color: black;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #f4f4f5;
  color: black;
}